<title>Wyatt's TinyApp</title>
<font size="20" face="impact" color="goldenrod"> Wyatt's TinyApp </font>
<br>I mean you could at least <a href='/register'>Register</a> or <a href='/login'>Log In</a>



