<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <h2>fork over the deets</h2>
  <form action="/register" method="POST" >
    <p>
      <label for="email">yer email:</label>
      <input id="email" type="email" name="email">
    </p>
    <p>
      <label for="password">yer password:</label>
      <input id="password" type="password" name="password">
    </p>
    <input type="submit" value="Let's do this">
  </form>
</body>
</html>


