<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_header.ejs %>
  <br>
</head>
<body>
  <% Object.keys(urls).forEach(function(key) { %>
    <li><%= urls[key] + ' ' + [key] %>
      <form method="POST" action="/urls/<%=key%>/delete">
        <p>
          <button>Delete</button>
        </p>
      </form>
      <form method="GET" action="/urls/<%=key%>">
        <p>
          <button>Update</button>
        </p>
      </form>
    </li>
  <% }); %>
  <a href="/urls/new">Create new shortURL</a>
</body>
</html>

